
// Body
$body-bg: #fffdfa;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$cadet_blue: #54A4A6;
$morning_glory: #A7D1D1;
$purple: #9561e2;
$pink: #f66D9b;
$red: #ff342f;
$dark_red: #b41e18;
$darker_red: #871612;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$dark_green: #288a51;
$darker_green: #174f2e;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light_brown: #ffd6c3;
$light_brown_opcity: rgba($light_brown, 0.21);
$dark_orange: #ee826c;
$darker_orange: #ef593a;
$taupe: #7f6d65;
$dark_taupe: #47403d;
$black: #000;

// Angles
$title_angle: 10deg;
