
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* Title */
.title {
  color: $taupe;
  font-size: 2.25rem;
  transition: 1s;
}

.title:hover {
  color: $dark_taupe;
  -ms-transform: skewX(-$title_angle);
  transform: skewX(-$title_angle);
  transition: 1s;
}

/* NavBar */
.navbar-laravel {
  background-color: $light_brown;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
  font-size: 1.3rem;
  color: $taupe;
  text-align: center;
}

.nav-link:hover {
  color: $taupe;
}

/* Jumbotron */
.jumbotron {
  background-color: $light_brown_opcity;
}

/* Card */
.card-header {
  background-color: $light_brown_opcity;
}

/* Buttons */
.btn-primary {
  background-color: $dark_orange;
  border-color: $darker_orange;
}
.btn-primary:hover {
  background-color: $darker_orange;
  border-color: $dark_orange;
}

.btn-primary:focus:active {/* THIS DOESN'T WORK */
  background-color: $darker_orange;
  border-color: $dark_orange;
}

.btn-link {
  color: $dark_orange;
}

.btn-link:hover{
  color: $darker_orange;
}

.btn-outline-secondary {
  background-color: $light_brown;
  border-color: $dark_orange;
}

.btn-outline-secondary:hover {
  background-color: $darker_orange;
  border-color: $dark_orange;
}

.btn-outline-secondary > .btn-link {
  color: $darker_orange;
}

.btn-outline-secondary:hover > .btn-link {
  color: $body-bg;
}

.btn-outline-secondary:hover > .btn-link:hover {
  color: $body-bg;
}

/* Form Control */
.form-control:focus {
  border-color: $light_brown;
  box-shadow: 0 0 0 0.2rem $light_brown;
}

.input-group-text {
  background-color: $light_brown_opcity;
  border-color: $dark_orange;
}

/* Dropdown */
.dropdown-item:hover {
  background-color: $light_brown;
}

.dropdown-item:active {
  background-color: $dark_orange;
}

/* Swipe Button */
.swipe-no {
  background-color: $red;
}

.swipe-yes {
  background-color: $green;
  border-color: $dark_green;
}
.swipe-yes:hover {
  background-color: $darker_green;
  border-color: $dark_green;
}

.swipe-no {
  background-color: $red;
  border-color: $dark_red;
}

.swipe-no:hover {
  background-color: $darker_red;
  border-color: $dark_red;
}

/* Swipe Info */
.swipe-info {
  font-size: 1.2rem;
}

/* Progress Bar */
.progress{
  border-radius: 1rem;
}

/* public question */
.public-question {
  background-color: $light_brown;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.question {
  font-size: 1.4rem;
}

.question-reply {
  font-size: 1.1rem;
}

/* Checkbox */
.custom-control-label:before{
  background-color: $light_brown;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: $darker_orange;
}

.custom-control-input:active~.custom-control-label::before{
  background-color: $dark_red;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
  box-shadow: 0 0 0 1px $body-bg, 0 0 0 0.2rem $light_brown; 
}